@import "tailwindcss";

* {
  font-family: var(--font-helvetica), system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  outline: none;
  cursor: none !important;
}

body {
  overflow-x: hidden;
}

/* === Reset === */

img {
  display: block;
  user-select: none;
  max-width: 100%;
}

/* === Utilities === */

@layer utilities {
  .grid-areas {
    grid-template-areas:
      ". two . four ."
      ". two three four ."
      "one two three four five"
      "one two three four five"
      "one two three four five"
      "one two three four five"
      "one two three four five"
      "one two three four five"
      ". two three four ."
      ". two three four .";
  }

  .area-one {
    grid-area: one;
  }
  .area-two {
    grid-area: two;
  }
  .area-three {
    grid-area: three;
  }
  .area-four {
    grid-area: four;
  }
  .area-five {
    grid-area: five;
  }
  .montserrat {
    font-family: var(--font-montserrat), var(--font-helvetica), sans-serif !important;
  }
}
