@import "tailwindcss";

* {
  font-family: "Helvetica Neue", sans-serif;
  outline: none;
  cursor: url("/assets/images/cursor.png") 14 14, auto;
}

body {
  overflow-x: hidden;
}

/* === Font === */

/* Black */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Heavy */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

/* Italic (Regular Italic) */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Roman (Regular) */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* UltraLight */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/MontserratAlternates-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* === Reset === */

img {
  display: block;
  user-select: none;
  max-width: 100%;
}

/* === Utilities === */

@layer utilities {
  .grid-areas {
    grid-template-areas:
      ". two . four ."
      ". two three four ."
      "one two three four five"
      "one two three four five"
      "one two three four five"
      "one two three four five"
      "one two three four five"
      "one two three four five"
      ". two three four ."
      ". two three four .";
  }

  .area-one {
    grid-area: one;
  }
  .area-two {
    grid-area: two;
  }
  .area-three {
    grid-area: three;
  }
  .area-four {
    grid-area: four;
  }
  .area-five {
    grid-area: five;
  }
  .montserrat {
    font-family: "Montserrat", sans-serif !important;
  }
}
